@media (max-width: 1199px) {
  #col2 {
    padding-left:0px;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  #col2 {
    padding-left:0px;
    height: 100%;
  }
}

@media (max-width: 991px) {
  #col2 {
    padding-left:0px;
    height: 100%;
  }
}

@media (max-width: 767px) {
  #col2 {
    padding-left:15px;
    height: auto;
  }
}

#col1 {
  margin-top:15px;
  height:100%;
  padding-bottom:15px;
}

#col2 {
  margin-top:15px;
  overflow-x:hidden;
  white-space:nowrap;
  padding-bottom: 15px;
}
