.page-header {
  background-image:url(../../assets/img/background.jpg);
  background-position:-300px -235px;
  background-blend-mode:multiply;
  background-color:rgba(51,51,51,0.81);
  margin:0;
  padding:80px 20px 40px;
}

.h1, h1 {
  color:white;
}

#navbar-logo {
  width: 100px;
  border-radius: 7px;
}
