#navbar {
  margin-top:0px;
  width:100%;
  padding-left:15px;
}

#map-search {
  margin-top:10px;
  min-width:200px;
  font-size:13px;
  border:1px solid white;
  color:rgb(131,131,131);
  padding:7px;
  font-weight:300;
  text-overflow:ellipsis;
}

#intro-container {
  max-width:400px;
  color:#fff;
  padding:50px 0;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

#logo {
  margin-right:auto;
  margin-left:auto;
  display:block;
  border-radius:15px;
  width:80px;
}

#join-code {
  width:80%;
  float:left;
  margin-top:20px;
  border-left:none;
  border-right:none;
  border-top:none;
}

#home-navbar {
  background:none;
  border:none;
}

#intro {
  text-align:center;
  margin:0 auto 25px;
}

#navbar-logo {
  width:35px;
  border-radius:7px;
}

#heading-title {
  margin-left:8px;
  color:white;
  vertical-align:middle;
}

#time-div {
  border-bottom:1px solid white;
}

