.sidebar-menu {
  width:100%;
  height:100%;
  display:inline-block;
  vertical-align:top;
  position:relative;
}

#sidebar-menu .menu-content {
  overflow-y:auto;
  overflow-x:hidden;
}

.vote-entry-count {
  display:inline-block;
  width:100%;
  text-align:center;
}

.vote-label-wrapper {
  margin-left:35px;
  display:inline-block;
}

.vote-control-wrapper {
  width:20px;
  display:inline-block;
}

.page-header {
  margin-top:0px;
  margin-bottom:0px;
  padding-bottom:0px;
  /*height:40px;*/
  background-color:rgba(0,0,0,0.38);
}

.menu-heading {
  color:rgb(255,255,255);
  font-size:18px;
}

.prev-menu-button + .menu-heading {
  margin-right: 30px;
}

.menu-rule {
  margin-top:6px;
}

.error-message {
  color:#C22121;
}

body {
  color:white;
  background-color:rgba(51,51,51,0.81);
  background-image:url("../../assets/img/background.jpg");
  background-repeat:no-repeat;
  background-blend-mode:multiply;
  background-size:auto;
  background-attachment: fixed;
  font-family:Roboto, sans-serif;
}

p {
  font-weight:300;
  line-height:1.5;
}

.h2, h2 {
  font-weight:normal;
  line-height:1.3;
}

#sidebar-sub1 {
  margin-left:15px;
  padding-right:20px;
}

#sidebar-sub2 {
  padding:15px;
}

#help-div {
  display: none;
  width:90vw;
  height:90vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(151, 194, 85);
}
