<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Page - Various Plans</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="static/assets/css/help.css">
</head>

<body>
    <div class="page-header">
        <img src="static/assets/img/vp-logo.png" id="navbar-logo">
        <h1><strong>Various</strong> Plans - Information</h1>
    </div>
    <p>Log on screen
To use our application, you must login using your Google Account details. You will need to create one if you do not already have one.

Create Plan
Once successfully logged in, a new plan can be created. The name of the plan, the time at which voting and selecting plans and routes and the time of the actual event will need to be specified.

Join Existing Plan
A list of all previously joined plans can be seen. To continue to plan or view an existing plan, click on the tile of the plan in which you would like to visit. To join a plan, obtain the code provided by the creator and input it into the bottom of the popup screen. Upon successful addition of the join code, the plan will appear on your list of plans where it can now be selected.

Stage 1 - Deciding Locations
To search for locations in which you would like to visit, use the search bar on the map. Locations can be added to the list of locations by selecting the pin in which the map returns. From here you will be prompted to name the location and after it has been successfully added it will be added to the list in which user’s part of the plan can now vote on. You can also vote on any of the locations suggested by other users by selecting the up or down arrow on each event. Once the end time of the stage has been reached (specified by the creator of the plan), all of the positively voted locations by users will be carried forward to Stage 2.

Stage 2 - Deciding Routes:
During this stage, the events carried forward from Stage 1 can now be ordered to create different routes in which you would like to take. To add a route, drag locations form the events table and place them into the route table. The order in which the locations are placed, is the order in which you would like to visit each location. To see each user suggested route, by hovering over each route, the route will be drawn on the map. Once again routes can be voted on by selecting the up or down arrows for each route.

Final Stage
Once the time has elapsed for Stage 2, the route with the highest number of votes (or a random route will be selected if joint highest) will be displayed to all users. The stops of the route can be seen and a visualisation of the route can be seen on the map.</p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
