<html>
  <head>
    <title>Varous Plans - New Route</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <h1>New Route</h1>
    Avaliable Events: {{plan.events}}
    <form action = "{{ url_for('new_route', planid=plan.id) }}" method = post>

                {{ form.hidden_tag() }}

                <div style = font-size:20px; font-weight:bold; margin-left:150px;>
                   {{ form.name.label }} {{ form.name }} <br>
                   {{ form.eventids.label }} {{ form.eventids }} <br>

                   <br>
                   {{ form.submit }}
                </div>

          </form>
  </body>
</html>
