<html>
  <head>
    <title>Varous Plans - Plan {{plan.id}}</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <h1>{{plan.name}} ({{plan.id}})</h1>

    {% if plan.phase == 1 %}
      <div>
        <h2>Events</h2>
        {% for event in plan.events %}
            <p>{{ event.name }} has <b>{{ event.votes }}</b> votes.</p>
        {% endfor %}
      </div>
      <a href="{{ url_for('new_event') }}">New Event</a><br>
    {% elif plan.phase == 2 %}
      <div>
        <h2>Routes</h2>
        {% for route in plan.routes %}
            <p>{{ route.name }} has <b>{{ route.votes }}</b> votes.{{ route.events }}</p>
        {% endfor %}
      </div>
      <a href="{{ url_for('new_route') }}">New Route</a><br>
    {% endif %}
    OI OI big ladz 'av made planz
  </body>
</html>
